.about-container {
  padding-top: 30px;
  margin: 0 10%;
  margin-bottom: 30vh;
}

.about-me {
  margin: 50px 0;
}

.about-me-para {
  word-spacing: 5px;
}

.languages-tools-container,
.services-container {
  display: grid;
  grid-row: auto;
  justify-self: center;
}

.lang-tool-container,
.service-container {
  border: solid #226500 2px;
  border-radius: 25px;
  display: flex;
  width: 200px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
  max-width: 250px;
}

.lang-tool {
  margin: auto 10px;
}

.lang-tool-img {
  object-fit: cover;
  width: auto;
}

.service-title {
  text-align: center;
  margin: 0;
}

.lang-tool-img-container {
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .lang-tool-img {
    height: 40px;
  }

  .lang-tool-container {
    height: 60px;
  }

  .languages-tools-container,
  .services-container {
    gap: 50px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1023px) {
  .lang-tool-img {
    height: 30px;
  }

  .lang-tool-container {
    height: 50px;
  }

  .languages-tools-container,
  .services-container {
    gap: 40px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .lang-tool-img {
    height: 20px;
  }

  .lang-tool-container {
    height: 43px;
  }

  .languages-tools-container,
  .services-container {
    gap: 30px;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .languages-tools-container,
  .services-container {
    gap: 30px;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
